{% extends 'base.html' %}

{% block content %}

    <div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="jumbotron">Logs</h2>

                <div class="">
                    <a href="https://app.datadoghq.com/dashboard/8c7-ehs-hyc/autobots-summary" target="_blank">External link: Summary</a>
                </div>

                <div class="">
                    <a href="https://app.datadoghq.com/dashboard/pqc-zvs-y7e/autobots-logs?live=true" target="_blank">External link: Logs</a>
                </div>

                <div class="">
                    <a href="https://app.datadoghq.com/dash/integration/30375/ip-investigation" target="_blank">External link: IP Investigation</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

    </div>


{% endblock content %}