{% extends 'base.html' %}

{% block content %}

    <div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="jumbotron">User</h2>
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{ user.user.email }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="user_id">User Id</label>
                        <input type="text" class="form-control" id="user_id" name="user_id" value="{{ user.user.id }}" readonly>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">

    </div>

{% endblock content %}