{% extends 'base.html' %}

{% block content %}

    <div class="body">
        <div class="jumbotron">
            <h1>Logged in to Admin UI</h1>
            <p>This is the home page of the Meetkiwi platform admin interface for developers.</p>
        </div>

        <hr class="bg-warning" />
        <div class="mx-auto" style="width: 70%;">

            <h2>Action Types</h2>
            <h3><a href="/llm_action" class="badge badge-info">LLM Action</a></h3>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




{% endblock content %}