{% extends 'base.html' %}

{% block content %}

    <div class="">
        <a href="https://app.datadoghq.com/dashboard/8c7-ehs-hyc/platform-summary" target="_blank">External link: Summary</a>
    </div>

    <div class="">
        <a href="https://app.datadoghq.com/dashboard/pqc-zvs-y7e?live=true" target="_blank">External link: Logs</a>
    </div>



    <div class="">
        <iframe src="https://p.datadoghq.com/sb/27defb88-fdab-11ed-a54a-da7ad0900002-c6ea85acdb7782082f559343fbfa32c5" style="width: 100vw;height: 100vh;position: relative;" allowfullscreen> </iframe>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




{% endblock content %}